# macOS
.DS_Store

# Node / JS
node_modules/
dist/
build/

# C#
bin/
obj/

# VS Code
.vscode/

# Rider / IntelliJ
.idea/

# Logs
*.log

# Rider user files
*.DotSettings.user

# SQLite
**/venueplatform.db
**/*.db-wal
**/*.db-shm